@namespace ConwaysGameOfLife.App.Components

<button @onclick="Tick">Tick</button>
<br/>
<a>Current Iteration: @Iteration</a>
<br/>
<textarea readonly="readonly" style="font-family:Consolas" rows="@Scale">@GameAsASCII</textarea>
<br/>
<BECanvas @ref="_canvas" Width="@Width" Height="@Height"></BECanvas>